@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/**

  TODO do this properly later (SCSS/LESS?)

  Colors:
  #f6b5a7 Pink
  #f4ce90 Light orange
  #14597e Dark blue (primary action)
  #148f71 Dark green (secondary action)
  #7ad38f Light green
  #c3536f Red (danger)
 */

main {
  background-color: #f4ce90;
}

button, .btn {
  padding: .3rem .6rem;
  background-color: #148f71;
  color: #fff;
  border-radius: .2rem;
}

button.primary, .btn.primary {
  background-color: #14597e;
}
